.img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.q-card {
  max-width: 290px;
  margin: 2px;
  vertical-align: top;
  flex-shrink: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
}